# Default values for Alfresco Process Services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

alfresco-process-services:
  enabled: true
  resources:
    requests:
      memory: "2000Mi"
    limits:
      memory: "3000Mi"
  nginx-ingress:
    enabled: false

alfresco-content-services:
  enabled: true
  nginx-ingress:
    enabled: false
  repository:
    image:
      repository: quay.io/alfresco/alfresco-dbp-repository
      tag: "0.3-SNAPSHOT"
    environment:
      # The ACTIVEMQ_HOST is the DNS name of the ActiveMQ Broker. If deployed 
      # from the Alfresco ActiveMQ Chart it will be
      # <Infrastructure Release Name>-activemq-broker
      ACTIVEMQ_HOST: "<infrastructure-releasename>-activemq-broker"
      # FIXME: Port 61616 is hard-coded here, but is configurable elsewhere
      # The SYNC_SERVICE_URI should contain the details of the ingress host and port.
      SYNC_SERVICE_URI: "<ingresscontrollerurl>/syncservice"
      # The IDENTITY_SERVICE_URI should contain the details of the ingress host and port.
      IDENTITY_SERVICE_URI: "<ingresscontrollerurl>/auth"
      JAVA_OPTS: " -Dsolr.base.url=/solr
        -Dsolr.secureComms=none
        -Dindex.subsystem.name=solr6
        -Ddsync.service.uris=\"$SYNC_SERVICE_URI\"
        -Dmessaging.broker.url=\"failover:(tcp://${ACTIVEMQ_HOST}:61616)?timeout=3000\"
        -Dauthentication.chain=identity-service1:identity-service,alfrescoNtlm1:alfrescoNtlm
        -Didentity-service.enable-basic-auth=true
        -Didentity-service.authentication.validation.failure.silent=false
        -Didentity-service.auth-server-url=\"$IDENTITY_SERVICE_URI\""
  share:
    image:
      repository: quay.io/alfresco/alfresco-dbp-share
      tag: "0.3-SNAPSHOT"
    resources:
      requests:
        memory: "1000Mi"
      limits:
        memory: "2000Mi"
  solr:
    resources:
      requests:
        memory: "500Mi"
      limits:
        memory: "1500Mi"
  postgresql:
    imageTag: "10.1"

alfresco-sync-service:
  enabled: false

alfresco-infrastructure:
  enabled: true