name: CI

on: [push,pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: Trigger Alfresco DBP Pipeline
      run: |
        echo ${{ steps.extract_branch.outputs.branch }}
        echo "Hello World!"
